button{
    width: 25%;
    height: 400px;
}

button p{
    font-weight: lighter;
}

#buttonArea{
    display:flex; flex-direction: row; gap: 10px; justify-content: center;
}

#confirmDialog {
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 20%;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
}

#confirmDialog button{
    width: 50%;
    height: 50px;
}

#confirmButtons{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#confirmButtons #confirm{
    background-color: rgb(101, 184, 90);
}

#confirmButtons #cancel{
    background-color: rgb(184, 90, 90);
}

#eventDialog{
    position: fixed;
    background-color: rgb(31, 31, 31);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 7% 2% 7% 2%;
}

#decision{
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

#eventDialog #postergar{
    width: 30%;

}

#eventDialog #resolver{
    width: 30%;

}

#eventDialog button{
    width: 50%;
    height: 100px;
}